<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <isLoadError>false</isLoadError>
  <IGlow_StockList>
    <string>KRABER</string>
    <string>MASTIFF</string>
    <string>L-STAR</string>
    <string>HAVOC</string>
    <string>DEVOTION</string>
    <string>TRIPPLE_TAKE</string>
    <string>FLATLINE</string>
    <string>HEMLOCK</string>
    <string>G7-SCOUT</string>
    <string>ALTERNATOR</string>
    <string>R-99</string>
    <string>PROWLER</string>
    <string>VOLT</string>
    <string>LONGBOW</string>
    <string>CHARGERIFLE</string>
    <string>SPITFIRE</string>
    <string>R-301</string>
    <string>EVA8_AUTO</string>
    <string>PEACEKEEPER</string>
    <string>MOZAMBIQUE</string>
    <string>WINGMAN</string>
    <string>P-2020</string>
    <string>RE-45</string>
    <string>SENTINEL</string>
    <string>REPEATER</string>
    <string>LIGHT_AMMO</string>
    <string>ENERGY_AMMO</string>
    <string>SHOTGUN_AMMO</string>
    <string>HEAVY_AMMO</string>
    <string>SNIPER_AMMO</string>
    <string>ACCELERANT</string>
    <string>PHOENIX</string>
    <string>SYRINGE</string>
    <string>CELL</string>
    <string>HELMET_LV1</string>
    <string>HELMET_LV2</string>
    <string>BODY_ARMOR_LV1</string>
    <string>BODY_ARMOR_LV2</string>
    <string>EVO_SHIELD_LV1</string>
    <string>EVO_SHIELD_LV2</string>
    <string>KNOCK_SHIELD_LV1</string>
    <string>KNOCK_SHIELD_LV2</string>
    <string>BACKPACK_LV1</string>
    <string>BACKPACK_LV2</string>
    <string>THERMITE</string>
    <string>GRENADE</string>
    <string>ARCSTAR</string>
    <string>1X_HCOG</string>
    <string>2X_HCOG</string>
    <string>1X_HOLO</string>
    <string>2X_HOLO</string>
    <string>1X_DIGITAL</string>
    <string>3X_HCOG</string>
    <string>4X_HOLO</string>
    <string>6X_SNIPER</string>
    <string>8X_SNIPER</string>
    <string>10X_DIGITAL</string>
    <string>BARREL_LV1</string>
    <string>BARREL_LV2</string>
    <string>LIGHT_MAG_LV1</string>
    <string>LIGHT_MAG_LV2</string>
    <string>HEAVY_MAG_LV1</string>
    <string>HEAVY_MAG_LV2</string>
    <string>ENERGY_MAG_LV1</string>
    <string>ENERGY_MAG_LV2</string>
    <string>SNIPER_MAG_LV1</string>
    <string>SNIPER_MAG_LV2</string>
    <string>SG_BOLT_LV1</string>
    <string>SG_BOLT_LV2</string>
    <string>SG_BOLT_LV3</string>
    <string>STD_STOCK_LV1</string>
    <string>STD_STOCK_LV2</string>
    <string>SNP_STOCK_LV1</string>
    <string>SNP_STOCK_LV2</string>
    <string>TURBOCHARGER</string>
    <string>SKULLPIERCER</string>
    <string>HAMMERPOINT</string>
    <string>ANVILRECV</string>
    <string>DOUBLETAP</string>
    <string>QUICKDRAW</string>
    <string>KRABER</string>
    <string>MASTIFF</string>
    <string>L-STAR</string>
    <string>HAVOC</string>
    <string>DEVOTION</string>
    <string>TRIPPLE_TAKE</string>
    <string>FLATLINE</string>
    <string>HEMLOCK</string>
    <string>G7-SCOUT</string>
    <string>ALTERNATOR</string>
    <string>R-99</string>
    <string>PROWLER</string>
    <string>VOLT</string>
    <string>LONGBOW</string>
    <string>CHARGERIFLE</string>
    <string>SPITFIRE</string>
    <string>R-301</string>
    <string>EVA8_AUTO</string>
    <string>PEACEKEEPER</string>
    <string>MOZAMBIQUE</string>
    <string>WINGMAN</string>
    <string>P-2020</string>
    <string>RE-45</string>
    <string>SENTINEL</string>
    <string>REPEATER</string>
    <string>LIGHT_AMMO</string>
    <string>ENERGY_AMMO</string>
    <string>SHOTGUN_AMMO</string>
    <string>HEAVY_AMMO</string>
    <string>SNIPER_AMMO</string>
    <string>ACCELERANT</string>
    <string>PHOENIX</string>
    <string>MEDKIT</string>
    <string>SYRINGE</string>
    <string>BATTERY</string>
    <string>CELL</string>
    <string>HELMET_LV1</string>
    <string>HELMET_LV2</string>
    <string>HELMET_LV3</string>
    <string>HELMET_LV4</string>
    <string>BODY_ARMOR_LV1</string>
    <string>BODY_ARMOR_LV2</string>
    <string>BODY_ARMOR_LV3</string>
    <string>BODY_ARMOR_LV4</string>
    <string>EVO_SHIELD_LV1</string>
    <string>EVO_SHIELD_LV2</string>
    <string>EVO_SHIELD_LV3</string>
    <string>KNOCK_SHIELD_LV1</string>
    <string>KNOCK_SHIELD_LV2</string>
    <string>KNOCK_SHIELD_LV3</string>
    <string>BACKPACK_LV1</string>
    <string>BACKPACK_LV2</string>
    <string>BACKPACK_LV3</string>
    <string>THERMITE</string>
    <string>GRENADE</string>
    <string>ARCSTAR</string>
    <string>1X_HCOG</string>
    <string>2X_HCOG</string>
    <string>1X_HOLO</string>
    <string>2X_HOLO</string>
    <string>1X_DIGITAL</string>
    <string>3X_HCOG</string>
    <string>4X_HOLO</string>
    <string>6X_SNIPER</string>
    <string>8X_SNIPER</string>
    <string>10X_DIGITAL</string>
    <string>BARREL_LV1</string>
    <string>BARREL_LV2</string>
    <string>BARREL_LV3</string>
    <string>LIGHT_MAG_LV1</string>
    <string>LIGHT_MAG_LV2</string>
    <string>LIGHT_MAG_LV3</string>
    <string>LIGHT_MAG_LV4</string>
    <string>HEAVY_MAG_LV1</string>
    <string>HEAVY_MAG_LV2</string>
    <string>HEAVY_MAG_LV3</string>
    <string>HEAVY_MAG_LV4</string>
    <string>ENERGY_MAG_LV1</string>
    <string>ENERGY_MAG_LV2</string>
    <string>ENERGY_MAG_LV3</string>
    <string>ENERGY_MAG_LV4</string>
    <string>SNIPER_MAG_LV1</string>
    <string>SNIPER_MAG_LV2</string>
    <string>SNIPER_MAG_LV3</string>
    <string>SNIPER_MAG_LV4</string>
    <string>SG_BOLT_LV1</string>
    <string>SG_BOLT_LV2</string>
    <string>SG_BOLT_LV3</string>
    <string>STD_STOCK_LV1</string>
    <string>STD_STOCK_LV2</string>
    <string>STD_STOCK_LV3</string>
    <string>SNP_STOCK_LV1</string>
    <string>SNP_STOCK_LV2</string>
    <string>SNP_STOCK_LV3</string>
    <string>TURBOCHARGER</string>
    <string>SKULLPIERCER</string>
    <string>HAMMERPOINT</string>
    <string>ANVILRECV</string>
    <string>DOUBLETAP</string>
    <string>QUICKDRAW</string>
  </IGlow_StockList>
  <IGlow1_List>
    <string>HELMET_LV4</string>
    <string>BODY_ARMOR_LV4</string>
    <string>EVO_SHIELD_LV4</string>
    <string>KNOCK_SHIELD_LV4</string>
    <string>BACKPACK_LV4</string>
    <string>LIGHT_MAG_LV4</string>
    <string>HEAVY_MAG_LV4</string>
    <string>ENERGY_MAG_LV4</string>
    <string>SNIPER_MAG_LV4</string>
    <string>BACKPACK_LV4</string>
    <string>KNOCK_SHIELD_LV4</string>
    <string>EVO_SHIELD_LV4</string>
  </IGlow1_List>
  <IGlow2_List>
    <string>MEDKIT</string>
    <string>BATTERY</string>
    <string>BACKPACK_LV3</string>
    <string>KNOCK_SHIELD_LV3</string>
    <string>EVO_SHIELD_LV3</string>
    <string>BODY_ARMOR_LV3</string>
    <string>HELMET_LV3</string>
    <string>HEAVY_MAG_LV3</string>
    <string>ENERGY_MAG_LV3</string>
    <string>SNIPER_MAG_LV3</string>
    <string>LIGHT_MAG_LV3</string>
    <string>BARREL_LV3</string>
    <string>STD_STOCK_LV3</string>
    <string>SNP_STOCK_LV3</string>
  </IGlow2_List>
  <IGlow3_List />
  <IGlow1_ColorR>255</IGlow1_ColorR>
  <IGlow1_ColorG>128</IGlow1_ColorG>
  <IGlow1_ColorB>0</IGlow1_ColorB>
  <IGlow2_ColorR>255</IGlow2_ColorR>
  <IGlow2_ColorG>0</IGlow2_ColorG>
  <IGlow2_ColorB>255</IGlow2_ColorB>
  <IGlow3_ColorR>0</IGlow3_ColorR>
  <IGlow3_ColorG>255</IGlow3_ColorG>
  <IGlow3_ColorB>255</IGlow3_ColorB>
  <PGlow_Visible_ColorR>0</PGlow_Visible_ColorR>
  <PGlow_Visible_ColorG>255</PGlow_Visible_ColorG>
  <PGlow_Visible_ColorB>0</PGlow_Visible_ColorB>
  <PGlow_Invisible_ColorR>255</PGlow_Invisible_ColorR>
  <PGlow_Invisible_ColorG>0</PGlow_Invisible_ColorG>
  <PGlow_Invisible_ColorB>0</PGlow_Invisible_ColorB>
  <PGlow_Down_ColorR>192</PGlow_Down_ColorR>
  <PGlow_Down_ColorG>0</PGlow_Down_ColorG>
  <PGlow_Down_ColorB>192</PGlow_Down_ColorB>
  <Aimbot_Fov>300</Aimbot_Fov>
  <Aimbot_Smooth>1.0</Aimbot_Smooth>
  <Aimbot_Offset>45</Aimbot_Offset>
  <Aimbot_AimKey>Both</Aimbot_AimKey>
  <Triggerbot_Fov>15</Triggerbot_Fov>
  <Triggerbot_RDelay>100</Triggerbot_RDelay>
  <Triggerbot_Key>Always</Triggerbot_Key>
  <WindowColor_R>127</WindowColor_R>
  <WindowColor_G>255</WindowColor_G>
  <WindowColor_B>0</WindowColor_B>
  <MouseSensitivity>4.0</MouseSensitivity>
</Config>